*{
    margin:0;
    padding:0 ;
}

nav{
    margin-top: 20px;
}

.header{
    position: relative;
    width: 100%;

    padding:0 100px;
    opacity: 50;
}

a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color:gray;
    text-decoration: underline;
  
}

.hero{
    display: flex;
    align-items: center;
    height: 100%;
    height: 400px;
    justify-content: center;

}
.work{
    background-color:gray;
    border-style: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10%;
}

.about{
    display: flex;
    gap: 30px;
   
}
#about{
    padding: 80px 0;
}

label{
    font-size: large;
    color: gray;
}
input{
    padding: 4px;
    border-radius: 10px;



}

.box{
    border: 2px;
    padding: 10px;
    border-color: black;
}

footer{
    margin-top: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {

  .about{
    display: flex;
    flex-direction: column;
  }
  label{
    margin-right: 30px;
  }
}
