* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeef;
    color: #333;
    line-height: 1.6;
    position: relative;
}


.header {
    background-color: #1e293b;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content:space-between;
}

.header h1{
    margin-left: 50px;
}

.header span {
    color: #38bdf8;
}


.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: #38bdf8;
}

.thought{
    background-color: gray;
    width: full;
    text-align: center;
    color: white;
    padding: 10px;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 15px;
}

.blog {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.date {
    font-size: 0.9rem;
    color: gray;
}

.highlight {
    color: #2563eb;
    font-weight: bold;
}


.footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: -30;
    width: 100%;
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .header{
        flex-direction: column;
    }
}