body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

.app{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    /* width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.search{
    background-color: rgb(212, 211, 211);
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
 
    border-radius: 10px;
}
.search span{
    font-size: 1.5rem;
}
.search input{
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    opacity: 0.8;
    background-color: transparent;
    margin-left: 10px;
    border: none;
    width: full;
    
}
.search button{
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
       opacity: 0.8;
    box-shadow: 3px 3px 0px black;
    transition: all 0.2s ease;
}

.search button:hover{
    box-shadow: none;
    transform: translate(1px,1px);
}

.weather{
    text-align: center;
    color: gray;
    
}

#city{
    margin:10px 0 0px;
}

#degree{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#weather_img{
    width: 150px;
    height: 150px;
}
.date{
    width: full;
    font-size: 2rem;
    
}
.stats , .wind{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#degree p{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#time{
    font-size: .3rem;
}



